

{% extends 'index.html' %}
{% load crispy_forms_tags %}
  
{%block body%}
     

  

        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">student list</h3>
        <div class="table-data__tool">
            
            <form action="" method="POST" >
                {%csrf_token%}
            <div class="table-data__tool-left">
                <div class="rs-select2--light rs-select2--md">
                    <select class="js-select2" name="property">
                        <option selected="selected">All Properties</option>
                        <option value="">Option 1</option>
                        <option value="">Option 2</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
                <!-- <div class="rs-select2--light rs-select2--sm">
                    <select class="js-select2" name="time">
                        <option selected="selected">Today</option>
                        <option value="">3 Days</option>
                        <option value="">1 Week</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div> -->

                        <input type="text" class="form-control" name="registration_no" placeholder="registration_no" aria-label="" aria-describedby="basic-addon1">
                        <button class="au-btn-filter" type="submit">
                            <i class="zmdi zmdi-filter-list"></i>filters</button>
                  
            </div>
          </form>
      
     
            <div class="table-data__tool-right">
                <a href="{% url 'adminsite:student_creation'  %}"><button class="au-btn au-btn-icon au-btn--green au-btn--small">
                    <i class="zmdi zmdi-plus"></i>Add Student</button></a>
                <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                    <select class="js-select2" name="type">
                        <option selected="selected">Export</option>
                        <option value="">Option 1</option>
                        <option value="">Option 2</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>
        </div>
   
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>
                            <label class="au-checkbox">
                                <input type="checkbox">
                                <span class="au-checkmark"></span>
                            </label>
                        </th>
                        <th>pic</th>
                        <th>name</th>
                        <th>Reg</th>
                        <th>roll</th>
                        <th>date</th>
                        
                      
                    </tr>
                </thead>
                <tbody>
                  {%for student_list in students %}

                    <tr class="tr-shadow">
                        <td>
                            <label class="au-checkbox">
                                <input type="checkbox">
                                <span class="au-checkmark"></span>
                            </label>
                        </td>
                        <td><img src="/media/{{student_list.studentimage}}" width="100px"height="100px" alt=""></td>
                        <td>{{student_list.first_name}} {{student_list.last_name}} </td>
                        <td>
                            <span class="block-email">{{student_list.registration_no}}</span>
                        </td>
                        <td class="desc">{{student_list.className}}</td>
                        <td>{{student_list.roll}}</td>
                        <!-- <td>
                            <span class="status--process">Processed</span>
                        </td> -->
                        <td>{{teacher_list.positon}}</td>
                        <td>
                            <div class="table-data-feature">
                                <a href="{%url 'adminsite:student_update' id=student_list.id%}"> <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                    <i class="zmdi zmdi-edit"></i>
                                </button></a>
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                  <a href="{% url 'adminsite:student_delete' id=student_list.id %}"><i class="zmdi zmdi-delete"></i></a>
                                </button>
                                <a href="{% url 'adminsite:studentDetails' id=student_list.id %}"><button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                    <i class="zmdi zmdi-more"></i>
                                </button></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="spacer"></tr>
               
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->


<!-- 
{{teacher_list.phoneNumber}}
{{teacher_list.birthDate}} -->

  <div class="card-footer">
    <button type="submit" class="btn btn-primary btn-sm">
        <i class="fa fa-dot-circle-o"></i> Submit
    </button>
    <button type="reset" class="btn btn-danger btn-sm">
        <i class="fa fa-ban"></i> Reset
    </button>
</form>

</div>


{%endblock body%}  



